
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Lobster&display=swap');



@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #FFFFFF;
    color: #000000;
    line-height: 1.6;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #FFFFFF; 
    border-bottom: 2px solid #f4f4f4;
}


.logo img {
    height: 70px;
    width: auto;
}


.nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav ul li {
    margin-left: 20px;
}

.nav ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: normal;
    transition: color 0.3s ease;
}

.nav ul li a:hover {
    color: #F40009; 
}


.log {
    font-family: "Lobster", serif; 
    font-size: 3rem;
    color: #000000; 
    margin-bottom: 20px;
}

/* H1 Styling */
h1 {
    font-family: "Raleway", serif; 
    font-size: 3rem;
    color: #ffffff; 
    margin-bottom: 20px;
}


section {
    padding: 20px;
    text-align: center;
    color:white;
    background-color:black;
	font-family:"Poppins",serif;
}


#about {
    background-color: #000000;
    padding: 40px;	
    text-align:justify;
    font-family:"Poppins",serif;
}


#contact {
    background-color: #000000;
    padding: 40px;text-align:justify;
    font-family:"Poppins",serif;
    
}


footer {
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    padding: 20px 0;
}


@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .nav ul {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    .nav ul li {
        margin-left: 0;
        margin-bottom: 10px;
    }
}

.loka{
	height:400px;
	width:1263px;

}
.his{
	height:500px;
	width:1263px;
}

.found{
	height:400px;
	width:353px;
	 display: flex;
      margin-left: auto;
      margin-right: auto;
}
